<ion-header>
  <ion-toolbar>
    <ion-title>listeangenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span  *ngFor="let agenda of data">
    <ion-card *ngIf="agenda.description">
      <img class="image" src="https://www.sortez.org/application/resources/front/photoCommercant/imagesbank/scrapped_image/{{agenda.photo1}}">
    <ion-card-header>        
        <ion-card-subtitle>Du : <span style=color:green> {{agenda.date_debut}} </span> Au : <span style=color:green> {{agenda.date_fin}}</span></ion-card-subtitle>
        <!-- <ion-card-subtitle>Au : <span style=color:green> {{agenda.date_fin}}</span></ion-card-subtitle> -->
      </ion-card-header>
      <!-- <ion-item>
          <ion-card-content >
              {{agenda.description}}
          </ion-card-content>
      </ion-item> -->
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>{{agenda.nom_manifestation}}<br>{{agenda.ville_nom}}, {{agenda.CodePostal}}</ion-label>
    <!-- <ion-label>Magazine <br> Nice, 06000</ion-label> -->
  </ion-item>
  <div style='text-align: center'><ion-button (click)="detail_agenda(agenda.id)" expand="full" fill="solid" slot="end">Detail</ion-button></div>
</ion-card>
</span>
</ion-content>
