<ion-header>
  <ion-toolbar>
    <ion-title>Détails {{data.NomSociete}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle><img class="image" src="{{data.photo1}}"></ion-card-subtitle>
          <ion-card-title [innerHTML]="data.NomSociete"></ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-row>
              <ion-col size="12">{{data.description}}</ion-col>
                <ion-col size="12">
                  <h1>{{data.adresse_localisation}}</h1>
                </ion-col>
                <ion-col size="12">
                  <h2>{{data.datetime_debut}}</h2>
                </ion-col>
                <ion-col size="12">
                  <h2>{{data.datetime_fin}}</h2>
                </ion-col>
                <ion-col size="12">
                  <h4>{{data.mobile}}</h4>
                </ion-col>
            </ion-row>
        </ion-card-content>
      </ion-card>
</ion-content>
