<ion-header>
  <ion-toolbar>
    <ion-title>detailagenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <span>
        <ion-card *ngIf="data.description">
          <img class="image" src="https://www.sortez.org/application/resources/front/photoCommercant/imagesbank/scrapped_image/{{data.photo1}}">
        <ion-card-header>        
            <ion-card-subtitle>Du : <span style=color:green> {{data.date_debut}} </span> Au : <span style=color:green> {{data.date_fin}}</span></ion-card-subtitle>
            <!-- <ion-card-subtitle>Au : <span style=color:green> {{agenda.date_fin}}</span></ion-card-subtitle> -->
          </ion-card-header>
          <ion-item>
              <ion-card-content >
                  {{data.description}}
              </ion-card-content>
          </ion-item>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>{{data.nom_manifestation}}<br>{{data.ville_nom}}, {{data.CodePostal}}</ion-label>
        <!-- <ion-label>Magazine <br> Nice, 06000</ion-label> -->
      </ion-item>
    </ion-card>
    </span>
</ion-content>
