<ion-header>
  <ion-toolbar>
    <ion-title>Annuaire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-item *ngFor="let item of data">
        <ion-thumbnail slot="start">
          <img src="{{item.photo1}}">
        </ion-thumbnail>
        <ion-label>
          <h2>{{item.NomSociete}}</h2>
          <p>{{item.rubriques}}</p>
          <p>{{item.ville_nom}}</p>
          <p>{{item.adresse_localisation}}</p>
        </ion-label>
        <ion-button fill="outline" slot="end" (click)="gotodetails(item.Idcommercant)">Voir plus</ion-button>
    </ion-item> -->
    <!-- <ion-card> -->
      <span *ngFor="let item of data">
        <ion-card *ngIf="item.NomSociete">
          <img style="width: 100%;height: auto;" src="{{item.photo1}}">
        <ion-card-header>
            <ion-card-subtitle>Partenaire : <h4>{{item.NomSociete}}</h4></ion-card-subtitle>
            <ion-card-subtitle *ngIf="item.rubriques"><h4>{{item.rubriques}}</h4></ion-card-subtitle>
          </ion-card-header>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>{{item.NomSociete}} <br> {{item.ville_nom}}, {{item.CodePostal}}</ion-label>
      </ion-item>
      <div style='text-align: center'><ion-button fill="outline" slot="end" (click)="gotodetails(item.Idcommercant)">Voir plus</ion-button>
      </div>
    </ion-card>
  </span>
</ion-content>
