<ion-header>
  <ion-toolbar>
    <ion-title>List article</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let item of data">
        <ion-thumbnail slot="start">
          <img src="{{item.photo1}}">
        </ion-thumbnail>
        <ion-label>
          <h2>{{item.NomSociete}}</h2>
          <p> du {{item.datetime_debut}} au {{item.datetime_fin}} à {{item.datetime_heure_debut}}</p>
          <p *ngIf="item.datetime_fin === null || item.datetime_fin === '' ">du {{item.datetime_debut}} à {{item.datetime_heure_debut}}</p>
          <p>{{item.ville}}</p>
          <p>{{item.category}}</p>
        </ion-label>
        <ion-button fill="outline" slot="end" (click)="gotodetails(item.id)">Voir plus</ion-button>
    </ion-item>
</ion-content>
