<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <img *ngIf="detail.annonce_photo1 != null && detail.annonce_photo1 != '' && detail.annonce_photo1 != undefined" style='width: 100%;height: auto;' src='{{detail.annonce_photo1}}'>
            <ion-card-subtitle>{{detail.NomSociete}}</ion-card-subtitle>
          <ion-card-title>{{detail.annonce_description_courte}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Etat : <span *ngIf="detail.annonce_etat == 0 " style="color:green">Revente</span><span *ngIf="detail.annonce_etat == 1 " style="color:green">Neuf</span>
        </ion-card-content>
        <ion-card-content *ngIf="detail.annonce_prix_neuf != 0 && detail.annonce_prix_neuf != ''">
           Prix: <span style="color:green">{{detail.annonce_prix_neuf}}</span>
        </ion-card-content>
        <ion-card-content *ngIf="detail.annonce_prix_solde != 0 && detail.annonce_prix_solde != ''">
            Prix: <span style="color:green">{{detail.annonce_prix_solde}}</span>
        </ion-card-content>
        <ion-card-content [innerHTML]="detail.annonce_description_longue">
            <!-- {{detail.annonce_description_longue}} -->
        </ion-card-content>
      </ion-card>
</ion-content>
