<ion-header>
  <ion-toolbar>
    <ion-title>listannonce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <!-- <ion-card> -->
    <span *ngFor="let annonce of data">
      <ion-card *ngIf="annonce.annonce_description_courte">
      <img *ngIf="annonce.annonce_photo1 != null && annonce.annonce_photo1 != '' && annonce.annonce_photo1 != undefined" style='width: 100%;height: auto;' src='{{annonce.annonce_photo1}}'>
      <!-- <img *ngIf="annonce.annonce_photo1 != null && annonce.annonce_photo1 != '' && annonce.annonce_photo1 != undefined" style='width: 100%;height: auto;' src='https://www.sortez.org/application/resources/front/photoCommercant/imagesbank/{{annonce.user_ionauth_id}}/{{annonce.annonce_photo1}}'> -->
      <ion-card-header>
          <ion-card-subtitle>Etat : <span *ngIf="annonce.annonce_etat == 0 " style="color:green">Revente</span><span *ngIf="annonce.annonce_etat == 1 " style="color:green">Neuf</span></ion-card-subtitle>
          <ion-card-subtitle *ngIf="annonce.annonce_prix_neuf !='' && annonce.annonce_prix_neuf != 0">Prix : <span style=color:green> {{annonce.annonce_prix_neuf}} € </span></ion-card-subtitle>
          <ion-card-subtitle *ngIf="annonce.annonce_prix_solde !='' && annonce.annonce_prix_solde != 0">Prix : <span style=color:green>{{annonce.annonce_prix_solde}} €</span></ion-card-subtitle>
          <!-- <ion-card-subtitle>Ancien prix : <span style="text-decoration:line-through;color:red">25 €</span></ion-card-subtitle>
          <ion-card-subtitle>Prix : <span style=color:green>20 €</span></ion-card-subtitle> -->
        </ion-card-header>
        <ion-item>
            <ion-card-content >
                {{annonce.annonce_description_courte}}
               <!-- Livre a vendre comme neuf, mais il manque 25 pages -->
            </ion-card-content>
        </ion-item>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{annonce.NomSociete}} <br> {{annonce.ville_nom}}, {{annonce.CodePostal}}</ion-label>
      <!-- <ion-label>Magazine <br> Nice, 06000</ion-label> -->
    </ion-item>
    <div style='text-align: center'><ion-button (click)="detail_annonce(annonce.annonce_id)" expand="full" fill="solid" slot="end">Detail</ion-button></div>
  </ion-card>
</span>
</ion-content>