<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/annuaire"></ion-back-button>
      </ion-buttons>
    <ion-title>details-annuaire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle><img class="image" src="{{data.photo1}}"></ion-card-subtitle>
          <ion-card-title>{{data.NomSociete}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-row>
                <ion-col size="12">
                  <h1>{{data.activite1}}</h1>
                </ion-col>
                <ion-col size="12">
                  <h2 [innerHTML]="data.Horaires"></h2>
                </ion-col>
                <ion-col size="12">
                    <h2 [innerHTML]="data.Caracteristiques"></h2>
                </ion-col>
                <ion-col size="12">
                  <h4>{{data.TelMobile}}</h4>
                </ion-col>
            </ion-row>
        </ion-card-content>
      </ion-card>
</ion-content>
