<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>    
          <ion-card>
              <ion-card-content>
                <ion-card-title>
                    Annuaire
                </ion-card-title>
                <ion-row *ngFor="let item of data.annuaire">  
                    <ion-col size="4">  
                      <ion-row>
                          <ion-col size="12">
                              {{item.NomSociete}}
                          </ion-col>
                          <ion-col size="12">
                              {{item.rubriques}}
                          </ion-col>
                          <ion-col size="12">                            
                              {{item.ville_nom}}
                          </ion-col>                         
                      </ion-row>
                    </ion-col>                    
                    <ion-col size="8">
                        <img class="image" src="{{item.photo1}}">
                    </ion-col>      
                    <ion-col>
                    </ion-col>                            
                </ion-row>
                <p>                      <ion-button expand="full" (click)="voirPlusAnnuaire(codePostal)">Voir Plus</ion-button>
                </p>
              </ion-card-content>
          </ion-card>
          <ion-card>
              <ion-card-content>
                <ion-card-title>
                    Agenda
                </ion-card-title>
                <ion-row *ngFor="let item of data.agenda">  
                  <ion-col size="4">  
                    <ion-row>
                        <ion-col size="12">
                          Du : {{item.date_debut}}
                        </ion-col>
                        <ion-col size="12">
                          Au : {{item.date_fin}}
                        </ion-col>
                        <ion-col size="12">
                          {{item.ville_nom}}
                        </ion-col>                         
                    </ion-row>
                  </ion-col>                  
                  <ion-col size="8">
                      <img class="image" src="https://www.sortez.org/application/resources/front/photoCommercant/imagesbank/scrapped_image/{{item.photo1}}">
                  </ion-col>      
              </ion-row>
                <p>
                  <ion-button size="12" expand="full" (click)="voirPlusAgenda(codePostal)">Voir Plus</ion-button>
                </p>
              </ion-card-content>
          </ion-card>
          <ion-card>
              <ion-card-content>
                <ion-card-title>
                    Annonce
                </ion-card-title>
                <ion-row *ngFor="let item of data.annonce">  
                    <ion-col size="4">  
                      <ion-row>
                          <ion-col size="12">
                            {{item.NomSociete}}
                          </ion-col>
                          <ion-col size="12">
                            {{item.annonce_description_courte}}
                          </ion-col>
                          <ion-col size="12">
                            {{item.ville_nom}}
                          </ion-col>                         
                      </ion-row>
                    </ion-col>
                    <ion-col size="8">
                        <img class="image" src='{{item.annonce_photo1}}'>
                    </ion-col>
                </ion-row>
                <p>
                  <ion-button expand="full" (click)="voirPlusAnnonce(codePostal)">Voir Plus</ion-button>
              </p>
              </ion-card-content>
          </ion-card>
</ion-content>
